<div class="container form-box bg-dark text-white">
    <legend>Add a New Book</legend>
    <div class="mb-3">
        <label for="bookname" class="form-label">Book Name</label>
        <input type="text" class="form-control" id="bookname" placeholder="Enter Book Name" [(ngModel)]="bookForm.title">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Book Author</label>
        <input type="text" class="form-control" id="author" placeholder="Enter Author Name" [(ngModel)]="bookForm.author">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Book Price</label>
        <input type="number" class="form-control" id="price" placeholder="Enter Book Price" [(ngModel)]="bookForm.price">
    </div>
    <div class="text-center text-dark">
        <button type="button" class="btn btn-light" (click)="save()">Add</button>
    </div>
</div>